{% extends 'base.html' %}

{% block title %}Kalória-Boom | Étkezési napló{% endblock %}

{% block body %}
<div class='py-4 mt-auto'>
    <div class='container-fluid px-4'>

        <h3>Étkezési napló</h3>

            <div class='row justify-content-center'>
                <div class='col-xl-12'>
                    <div class='card bg-secondary mb-3'>
                        <div class='card-body'>
    
                            <div class='form-group'>
                                <form method='POST'>
                                    {% csrf_token %}

                                    Biztos, hogy törlöd ezt az ételt?
                                    <button type='submit' class='btn btn-primary'>Törlés</button>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
{% endblock %}